﻿@using CountDownShow.Models
@model Dictionary

<div class="text-center">
    <div class="text-center">
        <div class="text-center">
            <h2 class="text-center">@await Component.InvokeAsync("Score")</h2>
            <p id="vbtext">@ViewBag.text</p>
            <p>you nine words is @ViewBag.nineWord</p>
            <p id="timer">30</p>
        </div>
        <form asp-action="InputAnswer">
            <div>
                <div>
                    <input asp-for="InputWord" />
                </div>
            </div>
            <br />
            <div>
                <div>
                    <button type="submit" class="btn btn-primary">submit</button>
                </div>
            </div>
        </form>
    </div>
</div>
<script>
    function countTime() {
        var timer = document.getElementById('timer').innerHTML;
        document.getElementById('timer').innerHTML = timer - 1;
        if (document.getElementById('timer').innerHTML == 0) {
            clearInterval(count); 
            document.getElementById('vbtext').innerHTML ="Count down , you should submit";
        }
    }
    var count = setInterval(countTime, 1000);
 </script>

