﻿@using CountDownShow.Models

    <div class="text-center">
        <div class="text-center">
            <div class="text-center">
                <p>@ViewBag.TotalScore</p>
            </div>
            <div>
                <a asp-action="NextRound">New Game</a>
            </div>
        </div>
    </div>

