﻿@using CountDownShow.Models
@model Dictionary

<div class="text-center">
    <div class="text-center">
        <div class="text-center">
            <h2 class="text-center">@await Component.InvokeAsync("Score")</h2>
            <p>@ViewBag.welcome</p>
            <p>@ViewBag.nineWord</p>
            <form asp-action="AddNineWords">
                <div>
                    <div>
                        <input asp-for="NineWord" />
                    </div>
                </div>
                <br />
                <div>
                    <div>
                        <button type="submit" class="btn btn-primary">submit</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

