﻿@using CountDownShow.Models

    <div class="text-center">
        <div class="text-center">
            <div class="text-center">
                <h2 class="text-center">@await Component.InvokeAsync("Score")</h2>
                <p>@ViewBag.answer</p>
                <p>@ViewBag.longestWord</p>
                <p>@ViewBag.roundScore</p>
            </div>
        </div>
        <div>
            <a asp-action="NextRound">NextRound</a>
        </div>
    </div>

